@model IEnumerable<ClientTableDetailsViewModel>
@{
    ViewData["Title"] = "Потребители";

    var ViewModel = new BreadcrumbViewModel
            {
                PageTitle = "Потребители",
                BreadcrumbItems = new List<BreadcrumbItem>
        {
           new BreadcrumbItem {
                ControllerName = "Home",
                ActionName = "Customers"
            },
            // new BreadcrumbItem
            // {
            //     ControllerName = "Home",
            //     ActionName = "Create"
            // }
        }
            };
}


@Html.Partial("_BreadcrumbsHeader", @ViewModel)
 

<div class="form-outline fc-customSearch" data-mdb-input-init>
    <input type="search" id="form1" class="form-control" placeholder="Търси клиент" aria-label="Search" />
</div>

<a class="d-grid gap-2 col-6 mx-auto fc-customButton-create" asp-controller="Customer" asp-action="Add">
    <div class="btn btn-primary">Създай клиент<i value="Създай клиент"></i></div>
</a>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Списък с клиенти
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Клиент</th>
                    <th>Град</th>
                    <th>-</th>
                    <th>-</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Клиент</th>
                    <th>Град</th>
                    <th>-</th>
                    <th>-</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var c in Model)
                {
                    <tr>
                        <td>@c.Name</td>
                        <td>@c.City</td>
                        <td><a asp-controller="Customer" asp-action="CustomerDetails" asp-route-id="@c.Id"> Виж</a></td>
                        <td>Изтрий</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>