@model IList<CreditLimitHistoryPopupViewModel>

<div>
    @for (int i = 1; i <= Model.Count; i++)
    {
        <h6>@i . Лимит: @Model[i - 1].Value лв <i class="bi bi-calendar-check-fill"></i> Дата на задаване: @Model[i - 1].Date</h6>
    }
</div>